<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/source/normalize.css">
    <link rel="stylesheet" href="~/source/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>GAME OF DRONES</title>
  </head>
  <body>
    <div id="container"></div>
    <script src="~/dist/bundle.js"></script>
  </body>
</html>